<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="diff-test">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
    </style>

    <div class="card">
      <div>Для решения системы дифференциальных уравнений использовался <strong>явный метод Эйлера</strong></div>
      <div><img src="../../images/diff_euler.png"></div>
      <div>Явный - значения вычисляются в предыдущей точке.</div>
      <div>Есть две функции, соответствующие правым частям дифференциальных уравнений, принимающие на вход t, x, y и возвращающие значение.</div>
      <div>Все вычисления проводятся в функции <em>euler_method</em>, принимающей на вход сетку tnet, начальные значения init_vals (также параметр beta, который мы настраиваем в проекте)</div>
    </div>

    <div class="card">
        <div>Рассмотрим, например, систему</div>
        <div><em>dx/dt = 2 * x; dy/dt = y;</em></div>
      <google-chart
          type='line'
          options='{"title": "Analytical solution trajectory"}'
          data='{{sol_analytic}}'>
      </google-chart>
        <div>Аналитическое решение системы:</div>
        <div><em>x = exp(2 * t); y = 3 * Math.exp(t);</em></div>

      <div>Посмотрим теперь на траекторию нашего решения СДУ:</div>
      <google-chart
          type='line'
          options='{"title": "Euler method solution trajectory"}'
          data='{{sol_euler}}'>
      </google-chart>
       <div>Почти не видно разницы</div>
    </div>

    <div class="card">
      <div>Посмотрим теперь на графики логарифма ошибок x и у при увеличивающемся количестве узлов, от 10 до 300.</div>
      <google-chart
          type='line'
          options='{"title": "X error"}'
          data='{{error_x}}'>
      </google-chart>

      <google-chart
          type='line'
          options='{"title": "Y error"}'
          data='{{error_y}}'>
      </google-chart>
      <div>С некоторой натяжкой можно сказать, что логарифм ошибки линейно зависит от логарифма количества узлов.</div>
    </div>

  </template>

  <script>

    Polymer({
      is: 'diff-test',

      properties: {
        sol_analytic: {
          type: Array,
          value: [['x', 'y'], [0, 0]]
        },

        sol_euler: {
          type: Array,
          value: [['x', 'y'], [0, 0]]
        },

        error_x: {
          type: Array,
          value: [['log(X)', 'log(E(X))'], [0, 0]]
        },

        error_y: {
          type: Array,
          value: [['log(Y)', 'log(E(Y))'], [0, 0]]
        },
      },

      attached: function() {
        var self = this;
        var _net = this.build_net(3, 10);
        var init_vals = [1, 3];
        var ans = this.euler_method(_net, init_vals, self);
        this.sol_analytic = this.tabulate_analytical(_net);
        this.sol_euler = this.tabulate_euler(ans);
        var errors = this.generate_error(3, init_vals, self);
        this.error_x = errors[0];
        this.error_y = errors[1];

      },

      first_eq: function(t, x, y, self, beta) {
        return 2 * x;
      },

      second_eq: function(t, x, y, self, beta) {
        return y;
      },

      generate_error: function(d, init_vals, self) {
        var error_x = [['log(X)', 'log(E(X))'], ]
        var error_y = [['log(Y)', 'log(E(Y))'], ]
        for (var n = 10; n != 300; n = n + 10) {
          var tnet = self.build_net(d, n);
          var temp_ans = self.euler_method(tnet, init_vals, self);
          max_err_X = 0;
          max_err_Y = 0;
          for (var i = 0; i != tnet.length; i++) {
            curr_err_X = Math.abs(temp_ans[0][i] - self.x_analytical(tnet[i]));
            curr_err_Y = Math.abs(temp_ans[1][i] - self.y_analytical(tnet[i]));
            if (curr_err_X > max_err_X) {
              max_err_X = curr_err_X;
            }
            if (curr_err_Y > max_err_Y) {
              max_err_Y = curr_err_Y;
            }
          }
          error_x.push([Math.log(n), Math.log(max_err_X)]);
          error_y.push([Math.log(n), Math.log(max_err_Y)]);
        }
        console.log(error_x);
        return [error_x, error_y]
      },

      tabulate_euler: function(sol) {
        var tab_euler = [['x', 'y'], ]
        for (var i = 0; i != sol[0].length; i++) {
          var tab_point = [sol[0][i], sol[1][i]];
          tab_euler.push(tab_point);
        }
        return tab_euler;
      },

      tabulate_analytical: function(tnet) {
        var tab_analytical = [['x', 'y'], ]
        for (var i = 0; i != tnet.length; i++) {
          var tab_point = [this.x_analytical(tnet[i]), this.y_analytical(tnet[i])];
          tab_analytical.push(tab_point);
        }
        return tab_analytical;
      },

      x_analytical: function(t) {
        return Math.exp(2*t);
      },

      y_analytical: function(t) {
        return 3 * Math.exp(t);
      },

      euler_method: function(tnet, init_vals, self, beta) {
        var x = new Array(tnet.length).fill(0);
        var y = new Array(tnet.length).fill(0);
        x[0] = init_vals[0];
        y[0] = init_vals[1];

        for (var i = 1; i != tnet.length; i++) {
          x[i] = x[i-1] + self.first_eq(tnet[i-1], x[i-1], y[i-1], self, beta)*(tnet[i] - tnet[i-1]);
          y[i] = y[i-1] + self.second_eq(tnet[i-1], x[i-1], y[i-1], self, beta)*(tnet[i] - tnet[i-1]);
        }
        return [x, y];
      },

      build_net: function(d, n) {
        var _net = [];
        for (var i = 0; i <= n; i++) {
          _net.push(i * d / n);
        }
        return _net;
      },

    });

  </script>

</dom-module>
