<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="display-functions">
  <template>
    <style>
    </style>
    <google-chart
      type='area'
      options='{"title": "ρ(ω)"}'
      data='{{dist}}'>
    </google-chart>

    <google-chart
      type='area'
      options='{"title": "S(t)"}'
      data='{{s}}'>
    </google-chart>

    <google-chart
      type='area'
      options='{"title": "z(t)"}'
      data='{{z}}'>
    </google-chart>
  </template>

  <script>
    Polymer({
      is: 'display-functions',
      properties: {
        dist: Array,
        s: Array,
        f: Array,
        z: Array,
      },
    });
  </script>

</dom-module>