<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="integration-test">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
      img {
        width: 350px;
      }
    </style>

    <div class="card">
      Для численного интегрирования использовалась <strong>формула Симпсона</strong>:
      <img src="../../images/simpson.png"></img>

      <div>Была реализована функция integrate, принимающая в качестве аргумента табулированную функцию.</div>
      <div>Табулированная функция имеет тип Array, первый элемент которого - названия осей ['x', 'f(x)'], последующие - сами  пары [x, f(x)]</div>
      <div>Чтобы сравнить полученный результат с точным, значение интеграла также было вычислено в Wolfram Alpha. Для каждой функции приведены запросы.</div>
    </div>

    <div class="card">
      <div><strong>Гладкая функция</strong></div>
      <google-chart
          type='area'
          options='{"title": "smooth function"}'
          data='{{smooth_tabultated}}'>
      </google-chart>
      <div>
        <div>Wolfram Alpha query: 'integral_0^3 (exp(x)-10 cos(2 x)-x^2+x) dx'</div>
        <div>Wolfram Alpha result: <strong>{{smooth_wolfram}}</strong></div>
        <div>Simpson result: <strong>{{smooth_simpson}}</strong></div>
      </div>
    </div>

    <div class="card">
      <div><strong>Осциллирующая функция</strong></div>
      <google-chart
          type='area'
          options='{"title": "oscillating function"}'
          data='{{oscillating_tabultated}}'>
      </google-chart>
      <div>
        <div>Wolfram Alpha query: 'integral_0^3 sin(1/x) dx'</div>
        <div>Wolfram Alpha result: <strong>{{oscillating_wolfram}}</strong></div>
        <div>Simpson result: <strong>{{oscillating_simpson}}</strong></div>
      </div>
    </div>

    <div class="card">
      <div><strong>Разрывная функция</strong></div>
      <google-chart
          type='area'
          options='{"title": "discontinious function"}'
          data='{{discontinious_tabultated}}'>
      </google-chart>
      <div>
        <div>Wolfram Alpha query: 'integral_0^2 (exp(-x)+1) dx+ integral_2^3 (log(x)+2) dx'</div>
        <div>Wolfram Alpha result: <strong>{{discontinious_wolfram}}</strong></div>
        <div>Simpson result: <strong>{{discontinious_simpson}}</strong></div>
      </div>
    </div>

    <div class="card">
       <div>В данном случае функции строились на отрезке [0, 3] с разбиением на N = 100 частей.</div>
       <div>Можно сказать, что при таком шаге интегрирования метод хорошо аппроксимирует истинное значение интеграла.</div>
       <div>Проверим экспериментально порядок точности: вычислим численно интеграл от гладкой функции при уменьшающейся сетке (количество узлов от 2 до 150) на том же отрезке интегрирования.</div>
    </div>

    <div class="card">
      <google-chart
          type='area'
          options='{"title": "Log-losses"}'
          data='{{losses}}'>
      </google-chart>
    </div>

    <div class="card">
       <div>Заметим, что до определенного момента график напоминает прямую приблизительно с наклоном -2. Если обратно проэкспоненцировать уравнение полученной прямой log(E(x))=-2log(x) + С, где x - число узлов, то получим, что при увеличении количества узлов в 2 раза ошибка уменьшается в 4 раза, т.е. подтверждается порядок точности 2.</div>
    </div>

  </template>

  <script>

    Polymer({
      is: 'integration-test',

      properties: {
        _net: {
          type: Array,
          value: [1, 2, 3]
        },

        smooth_tabultated: {
          type: Array,
          value: [['x', 'f(x)'], [0, 0]]
        },

        smooth_wolfram: {
          type: Number,
          value: 15.983
        },

        smooth_simpson: {
          type: Number,
          value: -1
        },

        discontinious_tabultated: {
          type: Array,
          value: [['x', 'f(x)'], [0, 0]]
        },

        discontinious_wolfram: {
          type: Number,
          value: 5.77421
        },

        discontinious_simpson: {
          type: Number,
          value: -1
        },

        oscillating_tabultated: {
          type: Array,
          value: [['x', 'f(x)'], [0, 0]]
        },

        oscillating_wolfram: {
          type: Number,
          value: 1.53063
        },

        oscillating_simpson: {
          type: Number,
          value: -1
        },

        losses: {
          type: Array,
          value: [['X', 'E(X)'], [0, 0]]
        },
      },

      attached: function() {
        this._net = this.build_net(3, 100);
        var self = this;
        this.smooth_tabultated = this.tabulate(self, 's', self._net);
        this.oscillating_tabultated = this.tabulate(self, 'o', self._net);
        this.discontinious_tabultated = this.tabulate(self, 'd', self._net);
        this.discontinious_simpson = this.integrate(this.discontinious_tabultated);
        this.smooth_simpson = this.integrate(this.smooth_tabultated);
        this.oscillating_simpson = this.integrate(this.oscillating_tabultated);

        var losses = [['log(X)', 'log(E(X))'],];
        for (var i = 2; i <= 150; i = i + 2) {
          var temp_net = this.build_net(3, i);
          var temp_tabulation = this.tabulate(self, 's', temp_net);
          var temp_area = this.integrate(temp_tabulation);
          losses.push([Math.log(i), Math.log(Math.abs(temp_area - this.smooth_wolfram))])
        }
        this.losses = losses;
      },

      build_net: function(d, n) {
        var _net = [];
        for (var i = 0; i <= n; i++) {
          _net.push(i * d / n);
        }
        return _net;
      },

      smooth_func: function(x) {
        return Math.exp(x) - 10 * Math.cos(2*x) - x*x + x;
      },

      discontinious_func: function(x) {
        if (x < 2) {
          return Math.exp(-x) + 1;
        } else {
          return Math.log(x) + 2;
        }
      },

      oscillating_func: function(x) {
        return Math.sin(1/x);
      },

      tabulate: function(self, ftype, fnet) {
        var func_tabulated = [['x', 'f(x)'],];

        if (ftype == 's') {
          for (var i = 0; i != fnet.length; i++) {
            func_tabulated.push([fnet[i], self.smooth_func(fnet[i])]);
          }
        }

        if (ftype == 'o') {
          for (var i = 1; i != fnet.length; i++) {
            func_tabulated.push([fnet[i], self.oscillating_func(fnet[i])]);
          }
          func_tabulated.push([fnet[fnet.length - 1], self.oscillating_func(fnet[fnet.length - 1])])
        }

        if (ftype == 'd') {
          for (var i = 0; i != fnet.length; i++) {
            func_tabulated.push([fnet[i], self.discontinious_func(fnet[i])]);
          }
        }

        return func_tabulated;
      },

      integrate: function(tf) {
        var func_area = 0;
        for (var i = 1; i < tf.length - 2; i = i + 2) {
          var sub_area = (tf[i+2][0] - tf[i][0]) / 6 * (tf[i][1] + 4 * tf[i+1][1] + tf[i+2][1]);
          func_area += sub_area;
        }
        return func_area;
      },

    });

  </script>

</dom-module>
