<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="interpolation-test">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
      img {
        max-height: 50px;
      }
    </style>

    <div class="card">
      <div>Был запрограммирован модуль интерполяции, использующий <strong>кубический сплайн дефекта 1</strong>.</div>
      <hr></hr>
      <div>Рассматриваем неравномерную сетку <span><img src="../../images/interpol_net.png"></span></div>
      <div><em># Всего N+1 значений t_n и N значений tau_n</em></div>
      <div>В точках t_n определены значения функции f_n и второй производной m_n (пока неизвестные)</div>
      <div><em># Всего N+1 значение f_n и m_n</em></div>
      <div>Вторая производная кубического сплайна на [t_n, t_n+1] - следующая линейная функция:</div>
      <div><img src="../../images/interpol_ds_dt_2.png"></div>
      <div>Проинтегрируем по t:</div>
      <div><img src="../../images/interpol_ds_dt.png"></div>
      <div>И еще раз:</div>
      <div>
        <span><img src="../../images/interpol_s_1.png"></span>
        <span><img src="../../images/interpol_s_2.png"></span>
      </div>
      <div>По определению сплайна S(t_n)=f_n, S(t_n+1)=f_n+1, откуда получаем расчетную формулу для A_n.</div>
      <div>Найденное значение A_n можем подставить в формулу и найти B_n.</div>
      <div><em># Всего N значений A_n, B_n</em></div>
      <div><img src="../../images/interpol_An.png"></div>
      <div>Приравнивая первые производные в t_n справа и слева, получим систему уравнений для опредлеления коэффициентов сплайна m_i (моментов сплайна), гдe i = 1..N-1. Для свободного сплайна:</div>
      <div><img src="../../images/interpol_free_spline.png"></div>
      <div>Систему можно записать в форме AM=F:</div>
      <div><img src="../../images/interpol_A.png"></div>
      <div><img src="../../images/interpol_M_F.png"></div>
      <div>Матрица А симметрична и, как можно показать, положительно определена, значит решение СЛАУ существует и единственно. Отсюда находим коэффициенты m_i, с их помощью подсчитываем A_i, B_i, и наш сплайн определен на каждом отрезке.</div>
    </div>

    <div class="card">
    <div><strong>Реализация</strong></div>
      <div>
        <ul>
          <li>Функция <em>get_interpol_coeffs</em> принимает в качестве аргументов сетку интерполирования и функцию, табулированную модулем <em>tabulate</em>. Внутри нее создается таблица значений tau, матрица A, вектор F. Полученное СЛАУ решается функцией <em>solve_system</em> (подробное описание в разделе про решение СЛАУ). Далее подсчитываются коэффициенты A_i, B_i по приведенным выше формулам. Функция возвращает объект типа Array, первый элемент которого - массив значений A, второй - B, третий - M.</li>
          <li>Значение сплайна в точке t определяется функции в s, аргументы которой - tau_n, m_n, m_n+1, t_n, t_n+1, a_coeff, b_coeff, t. Подсчитывается по приведенной выше формуле S(t).</li>
          <li>Полученные коэффициенты вместе с сеткой интегрирования и параметром Nsub - сколько значений сплайна будут подсчитываться внутри отрезка [t_n, t_n+1] передаются в функцию <em>tabulate_interpolated</em>, которая производит табулирование функции.</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div>Метод был применен к трем функциям: гладкой, осциллирующей и разрывной (те же, что и в части про интегрирование).</div>
      
    </div>

    <div class="card">
      <div><strong>Гладкая функция</strong></div>
      <google-chart
          type='area'
          options='{"title": "smooth function"}'
          data='{{smooth_tabultated}}'>
      </google-chart>

      <google-chart
          type='area'
          options='{"title": "smooth interpolated S net"}'
          data='{{smooth_int_s}}'>
      </google-chart>

      <google-chart
          type='area'
          options='{"title": "smooth interpolated L net"}'
          data='{{smooth_int_l}}'>
      </google-chart>
    </div>

    <div class="card">
      <div><strong>Осциллирующая функция</strong></div>
      <google-chart
          type='area'
          options='{"title": "oscillating function"}'
          data='{{oscillating_tabultated}}'>
      </google-chart>

      <google-chart
          type='area'
          options='{"title": "oscillating interpolated S net"}'
          data='{{oscillating_int_s}}'>
      </google-chart>

      <google-chart
          type='area'
          options='{"title": "oscillating interpolated L net"}'
          data='{{oscillating_int_l}}'>
      </google-chart>
    </div>

    <div class="card">
      <div><strong>Разрывная функция функция</strong></div>
      <google-chart
          type='area'
          options='{"title": "discontinious function"}'
          data='{{discontinious_tabultated}}'>
      </google-chart>

      <google-chart
          type='area'
          options='{"title": "discontinious interpolated S net"}'
          data='{{discontinious_int_s}}'>
      </google-chart>

      <google-chart
          type='area'
          options='{"title": "discontinious interpolated L net"}'
          data='{{discontinious_int_l}}'>
      </google-chart>
    </div>

    <div class="card">
      <div><strong>График разности E(x) = f(x)</strong></div>
      <div>Приведем график разности для гладкой функции, построенной по более густой сетке (N = 40)</div>
      <google-chart
          type='line'
          options='{"title": "YO"}'
          data='{{diff_tab}}'>
      </google-chart>
      <div>Ошибка небольшая, модуль колеблется от 0 до 0.4</div>
    </div>

  </template>

  <script>

    Polymer({
      is: 'interpolation-test',

      properties: {
        smooth_tabultated: {
          type: Array,
          value: [['x', 'f(x)'], [0, 0]]
        },

        smooth_int_s: {
          type: Array,
          value: [['x', 's(x)'], [0, 0]]
        },

        smooth_int_l: {
          type: Array,
          value: [['x', 's(x)'], [0, 0]]
        },

        oscillating_tabultated: {
          type: Array,
          value: [['x', 'f(x)'], [0, 0]]
        },

        oscillating_int_s: {
          type: Array,
          value: [['x', 's(x)'], [0, 0]]
        },

        oscillating_int_l: {
          type: Array,
          value: [['x', 's(x)'], [0, 0]]
        },

        discontinious_tabultated: {
          type: Array,
          value: [['x', 'f(x)'], [0, 0]]
        },

        discontinious_int_s: {
          type: Array,
          value: [['x', 's(x)'], [0, 0]]
        },

        discontinious_int_l: {
          type: Array,
          value: [['x', 's(x)'], [0, 0]]
        },

        diff_tab: {
          type: Array,
          value: [['x', 'E(x)'], [0, 0]]
        },
      },

      attached: function() {
        var _net = this.build_net(3, 10);
        var l_net = this.build_net(3, 40);
        var self = this;

        // for a smooth function
        var sm_tab = this.tabulate(self, 's', _net);
        var sm_coeffs = this.get_interpol_coeffs(_net, sm_tab);
        var sm_interpol = this.tabulate_interpolated(_net, sm_coeffs, 10, self);
        this.smooth_int_s = sm_interpol;

        var sm_tab_l = this.tabulate(self, 's', l_net);
        this.smooth_tabultated = sm_tab_l;
        var sm_coeffs_l = this.get_interpol_coeffs(l_net, sm_tab_l);
        var sm_interpol_l = this.tabulate_interpolated(l_net, sm_coeffs_l, 10, self);
        this.smooth_int_l = sm_interpol_l;

        var diff_tab = this.tabulate_difference(sm_interpol_l);
        this.diff_tab = diff_tab;

        // for an oscillating function
        var os_tab = this.tabulate(self, 'o', _net);
        var os_coeffs = this.get_interpol_coeffs(_net, os_tab);
        var os_interpol = this.tabulate_interpolated(_net, os_coeffs, 10, self);
        this.oscillating_int_s = os_interpol;

        var os_tab_l = this.tabulate(self, 'o', l_net);
        this.oscillating_tabultated = os_tab_l;
        var os_coeffs_l = this.get_interpol_coeffs(l_net, os_tab_l);
        var os_interpol_l = this.tabulate_interpolated(l_net, os_coeffs_l, 10, self);
        this.oscillating_int_l = os_interpol_l;

        // for a discontinious function
        var dc_tab = this.tabulate(self, 'd', _net);
        var dc_coeffs = this.get_interpol_coeffs(_net, dc_tab);
        var dc_interpol = this.tabulate_interpolated(_net, dc_coeffs, 10, self);
        this.discontinious_int_s = dc_interpol;

        var dc_tab_l = this.tabulate(self, 'd', l_net);
        this.discontinious_tabultated = dc_tab_l;
        var dc_coeffs_l = this.get_interpol_coeffs(l_net, dc_tab_l);
        var dc_interpol_l = this.tabulate_interpolated(l_net, dc_coeffs_l, 10, self);
        this.discontinious_int_l = dc_interpol_l;
      },

      //
      // interpolation module yo
      //

      tabulate_difference: function(int_tab) {
        var diff_tab = [['x', 'E(x)'], ];
        for (var i = 1; i != int_tab.length; i++) {
          diff_tab.push([int_tab[i][0], Math.abs(int_tab[i][1] - this.smooth_func(int_tab[i][0]))]);
        }
        return diff_tab;
      },

      tabulate_interpolated: function(fnet, coeffs, Nsub, self) {
        var intepol_net = [['x', 's(x)'], ];
        var acoeffs = coeffs[0];
        var bcoeffs = coeffs[1];
        var m = coeffs[2];
        for (var i = 0; i != fnet.length - 1; i++) {
          var t_n = fnet[i];
          var t_n1 = fnet[i+1];
          var gap = (t_n1 - t_n) / Nsub; 
          for (var j = 0; j != Nsub; j++) {
            var t = t_n + gap * j;
            var s_t = self.s(t_n1 - t_n, m[i], m[i+1], t_n, t_n1, acoeffs[i], bcoeffs[i], t);
            intepol_net.push([t, s_t]);
          }
        }
        return intepol_net;
      },

      s: function(tau_n, m_n, m_n1, t_n, t_n1, a_coeff, b_coeff, t) {
        return (m_n * Math.pow(t_n1 - t, 3) + m_n1 * Math.pow(t - t_n, 3)) / (6 * tau_n) + a_coeff * t + b_coeff
      },

      get_interpol_value(fnet, coeffs, t, self) {
        var acoeffs = coeffs[0];
        var bcoeffs = coeffs[1];
        var m = coeffs[2];
        for (var i = 0; i != fnet.length - 1; i++) {
          if (t >= fnet[i] && t <= fnet[i+1]) {
            return self.s(fnet[i+1]-fnet[i], m[i], m[i+1], fnet[i], fnet[i+1], acoeffs[i], bcoeffs[i], t);
          }
        }
        return;
      },

      get_interpol_coeffs: function(fnet, f_tab) {
        var N = fnet.length - 1; 
        var acoeff = new Array(N).fill(0);
        var bcoeff = new Array(N).fill(0);
        var m = new Array(N + 1).fill(0); // derivatives of f, equal length to fnet

        // build tau table
        var tau_net = new Array(N).fill(0);
        for (var i = 0; i != N; i++) {
          tau_net[i] = fnet[i+1] - fnet[i];
        }

        // create the matrix A and vector F for calculating m coefficients
        var A = {
          M: [],
          shape: [N - 1, N - 1],
        };
        for (var j = 0; j != N - 1; j++) {
          var row = new Array(N - 1).fill(0);
          if (j - 1 >= 0) {
            row[j - 1] = tau_net[j] / 6;
          }
          row[j] = (tau_net[j] + tau_net[j + 1]) / 3;
          if ((j + 1) < (N - 1)) {
            row[j + 1] = tau_net[j + 1] / 6;
          }
          A.M.push(row);
        }

        var F = new Array(N - 1).fill(0);
        for (var k = 0; k != N - 1; k++) {
          // increment index of f_tab because of meta data in the first cell
          F[k] = (f_tab[k + 3][1] - f_tab[k + 2][1]) / tau_net[k + 1] + (f_tab[k + 2][1] - f_tab[k + 1][1]) / tau_net[k];
        }

        // find m from 1 to N-1 by solving a linear equasion
        var niter = 30;

        var u = this.solve_system(A, F, niter);

        // add resulting values to the target m array, where m_0 = m_N = 0
        for (var i = 0; i != u[0].length; i++) {
          m[i + 1] = u[0][i];
        }

        // count alpha and beta values
        for (var j = 0; j != N; j++) {
          // increment index of f_tab because of meta data in the first cell
          acoeff[j] = (f_tab[j + 2][1] - f_tab[j + 1][1]) / tau_net[j] - (m[j + 1] - m[j]) * tau_net[j] / 6;
          bcoeff[j] = f_tab[j + 1][1] - m[j] * tau_net[j] * tau_net[j] / 6 - acoeff[j] * fnet[j];
        }

        return [acoeff, bcoeff, m];
      },

      //
      // for building a spline by solving a system of equasions
      //

      dot: function(a, b) {
        if (a.length !== b.length) {
          alert('check input dot');
          return;
        }
        acc = 0;
        for (var i = 0; i != a.length; i++) {
          acc = acc + a[i] * b[i];
        }
        return acc;
      },

      scalar_multiply(sc, u) {
        var temp = u;
        for (var i = 0; i != u.length; i++) {
          temp[i] = temp[i] * sc;
        }
        return temp;
      },

      multiply: function(matr, u) {
        if (matr.shape[1] != u.length) {
          alert('check input mult');
          return;
        } 
        var p = [];
        for (var row = 0; row != matr.shape[0]; row++) {
          temp = 0;
          for (var col = 0; col != matr.shape[1]; col++) {
            temp = temp + matr.M[row][col] * u[col];
          }
          p.push(temp);
        }
        return p;
      },

      extract: function(a, b) {
        if (a.length != b.length) {
          alert('check input');
          return;
        }
        var d = a;
        for (var i = 0; i != d.length; i++) {
          d[i] = d[i] - b[i];
        }
        return d;
      },

      solve_system: function(matr, f, niter) {
        // initialize solution with empty column-vector

        var u = new Array(f.length).fill(0);
        var abs_res = new Array(niter).fill(0);

        for (var j = 0; j != niter; j++) {
          // count residual
          f_approx = this.multiply(matr, u);
          res = this.extract(f_approx, f);
          abs_res[j] = Math.sqrt(this.dot(res,res));


          // count tau
          temp = this.multiply(matr, res)
          tau = this.dot(res, res) / this.dot(temp, res)

          // make a step towards the better life!
          step = this.scalar_multiply(tau, res);
          u = this.extract(u, step);
        }
        return [u, abs_res];
      },

      //
      // tabulation and examples functions
      //

      build_net: function(d, n) {
        var _net = [];
        for (var i = 0; i <= n; i++) {
          _net.push(i * d / n);
        }
        return _net;
      },

      smooth_func: function(x) {
        return Math.exp(x) - 10 * Math.cos(2*x) - x*x + x;
      },

      discontinious_func: function(x) {
        if (x < 2) {
          return Math.exp(-x) + 1;
        } else {
          return Math.log(x) + 2;
        }
      },

      oscillating_func: function(x) {
        return Math.sin(1/x);
      },

      tabulate: function(self, ftype, fnet) {
        var func_tabulated = [['x', 'f(x)'],];

        if (ftype == 's') {
          for (var i = 0; i != fnet.length; i++) {
            func_tabulated.push([fnet[i], self.smooth_func(fnet[i])]);
          }
        }

        if (ftype == 'o') {
          for (var i = 1; i != fnet.length; i++) {
            func_tabulated.push([fnet[i], self.oscillating_func(fnet[i])]);
          }
          func_tabulated.push([fnet[fnet.length - 1], self.oscillating_func(fnet[fnet.length - 1])])
        }

        if (ftype == 'd') {
          for (var i = 0; i != fnet.length; i++) {
            func_tabulated.push([fnet[i], self.discontinious_func(fnet[i])]);
          }
        }

        return func_tabulated;
      },

    });

  </script>

</dom-module>
