<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="project-summary">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
      img {
        max-width: 300px;
      }
      .descr {
        max-width: 450px;
      }
    </style>



    <div class="card">
      <div><strong>Задача</strong></div>
      <div>Описывается поведение рекламного сервера, определяемое следующими величинами:</div>
      <div><img src="../../images/proj_vals.png" class="descr"></div>

      <ul>
        <li><div>Скорость нарастания реального количества показов x'(t) линейно зависит от скорости нарастания общего трафика и вероятности посетителя попасть в таргет, которая, в свою очередь, зависит от порога y</div></li>
        <li><div>Изменение порога контролируется функцией f, зависящей от трафика, реального достигнутого количества показов, требуемого нарастающего количества показов и параметра коррекции beta</div></li>
        <li><div>Известны начальные значения количества показов X_0 и порог Y_0</div></li>
      </ul>

      <div>В рамках проекта решается система ОДУ:</div>
      <div><img src="../../images/proj_system.png" class="descr"></div>

      <div>Также есть дополнительные условия:</div>
      <div><img src="../../images/proj_additional.png"></div>

      <div>Первое и третье условия выполняются автоматически (за счет GUI и особенностей функций), второе остается на совести пользователя (в GUI показана рекомендация)</div>
    </div>

    <div class="card">
      <div><strong>Реализация</strong></div>
      <div class="circle">0</div>
      <div>Пользователь выбирает параметрический класс функций и задает параметры. Пустые поля оставлять нельзя, при недопустимых параметрах (например, T <= 0) всплывает предупреждение. При этом GUI не запрещает "неадекватные" значения, не ведущие к хорошему решению: на следующем шаге пользователь увидит графики и легко сможет вернуться назад и скорректировать неудачный параметр. Для этого обновлять страницу или заново задавать все значения не требуется.</div>
      <hr></hr>
      <div class="circle">1</div>
      <div><img src="../../images/proj_scheme.png" class="descr"></div>
      <div>
         <ul>
           <li>Функция <em>_solve</em> для распределения, s(t) и z(t), а также дифференциируемого <em>_differentiate</em> z'(t) вызывает функцию <em>get_interpol_coeffs</em>, которая принимает на вход сетку и табулированную функцию, возвращает массив из трех элементов: коэффициенты интерполяции A, B и m</li>
           <li>В свою очередь <em>get_interpol_coeffs</em> строит кубический сплайн дефекта 1, обращается к модулю решения СЛАУ, вызывает функцию <em>solve_system</em>, принимающую на вход матрицу и вектор f, возвращает вектор решений.</li>
           <li>Затем СДУ решается функцией euler_method, принимающей на вход сетку, начальные значения, значение параметра beta, возвращающей массив из двух элементов: массивы значений X, Y на заданной сетке</li>
           <li>В автоматическом режиме отрезок, на котором ищется оптимальное значение beta, делится на 15 частей. Система решается для каждого значения beta. Затем высчитываются критерий точности попадания в таргет (функция _c1), критерий открута (функция _с2) и функционал качества по формуле  с1 + 10 * с2</li>
         </ul>
      </div>
      <div>Более подробные описания каждого из модулей можно найти в соответствующих разделах.</div>
      <hr></hr>
      <div class="circle">2</div>
      <div>Рассмотрим, что выдаст алгоритм на следующие входные данные:</div>
      <div>
        <ul>
          <li>T = 6</li>
          <li>dist = Normal</li>
          <li>S(t) = 2 * x + sin(x)</li>
          <li>beta in [0.01, 0.1]</li>
          <li>z(t) = 5 * x + 2 * sin(x)</li>
          <li>f = beta * (x(t) - z(t))</li>
          <li>x_0 = 1, y_0 = 0</li>
        </ul>
      </div>

      <div>График распределения</div>
      <div><img src="../../images/proj_dist.png"></div>
      <div>Графики для S(t), z(t)</div>
      <div><img src="../../images/proj_s_z.png"></div>
      <div>Графики для найденных решений x(t), y(t)</div>
      <div><img src="../../images/proj_x_y.png"></div>
      <div>Графики для критериев точности с1, с2</div>
      <div><img src="../../images/proj_c1_graph.png"></div>
      <div><img src="../../images/proj_c2_graph.png"></div>
      <div>График функционала F = c1 + 10 * c2</div>
      <div><img src="../../images/proj_F.png"></div>

      <div>Решение выглядит вполне адекватно, найдено значение beta, минимизирующее функционал. В случае фиксированного beta отображается пустой график.</div>
    </div>

  </template>

  <script>

    Polymer({
      is: 'project-summary',

    });

  </script>

</dom-module>
