<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="sle-test">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
      img {
        height: 80px;
      }
      .formula {
        height: 40px;
      }

    </style>

    <div class="card">
      <div>Для решения системы линейных уравнений с определенным типом матрицы можно использовать <strong>метод наискорейшего спуска</strong>.</div>
      <div>Этот метод принадлежит к классу вариационных итерационных методов, которые основаны на том, что задача нахождения решения СЛАУ эквивалентна нахождению минимума соответствующего квадратичного функционала.</div>

      <div>Требования - A = A* > 0, т.е. матрица должна быть симметричной положительно определенной (самосопряженный оператор). Чтобы использовать метод наискорейшего спуска, можно привести систему к нормальному виду симметризацией Гаусса, т.е. домножив обе части системы на транспонированную матрицу А (А.Т * А * u = А.Т * f).</div>
      <div>Т.к. в дальнейшем в проекте мы будем использовать модуль решения СЛАУ только для интерполяции, где матрица удовлетворяет условиям, модифицируем алгоритм внешне.</div>
    </div>

    <div class="card">
      <div>Итерационный процесс можно описать так:</div>
      <div><img src="../../images/sle_iter.png" class="formula"></div>
      <div>tau_k - итерационный параметр, в методе наискорейшего спуска определяемый из условия минимума функции F(tau_k, u_k) по tau_k. При нахождении формулы для tau_k использовались свойства матрицы А.</div>
      <div><img src="../../images/sle_rk.png" class="formula"></div>
      <div>r_k - вектор невязки.</div>
      <div><img src="../../images/sle_tk.png" class="formula"></div>
    </div>

    <div class="card">
      <ul>
        <li>Функция <em>check_apply_gauss</em> принимает на вход матрицу и вектор f, проверяет матрицу на симметричность (любой размер матрицы) и положительную определенность по критерию Сильвестра (размер не более 3х3). Затем, если матрица удовлетворяет условиям, функция возвращает неизмененные аргументы, иначе возвращает аргументы, умноженные на транспонированную матрицу (симметризация Гаусса).</li>
        <li>Функция <em>solve_system</em> принимает на вход матрицу, вектор f, число итераций и решает систему методом наискорейшего спуска по изложенному выше алгоритму.</li>
        <li>Также были дополнительно реализованы некоторые операции матричной алгебры, которые нужны для метода наискорейшего спуска</li>
      </ul>
    </div>

    <div class="card">
      Посмотрим на числа обуловленности различных матриц, решим уравнения с единичным вектором f, рассмотрим графики нормы вектора невязки.
    </div>

    <div class="card">
      <img src="../../images/A.png"></img>
      <div>det(A) = 0.0387</div>
      <div>matrix norm = 24</div>
      <div>inverse matrix norm = 163.13</div>
      <div>conditional number = 3915</div>

      <strong>
        <div>matrix norm symm Gauss = 387</div>
        <div>inverse matrix norm symm Gauss = 0.2</div>
        <div>conditional number symm Gauss = 76.5</div>
      </strong>

      <google-chart
          type='area'
          options='{"title": "Ax = b residuals"}'
          data='{{A_res}}'>
      </google-chart>
    </div>

    <div class="card">
      <img src="../../images/B.png"></img>
      <div>det(B) = 1/2160 = 0.00046</div>
      <div>matrix norm = 1.83</div>
      <div>inverse matrix norm = 27.36</div>
      <div>conditional number = 50.15</div>

      <strong>
        <div>matrix norm symm Gauss = 1.83</div>
        <div>inverse matrix norm symm Gauss = 27.36</div>
        <div>conditional number symm Gauss = 50.15</div>
      </strong>

      <google-chart
          type='area'
          options='{"title": "Bx = b residuals"}'
          data='{{B_res}}'>
      </google-chart>
    </div>

    <div class="card">
      <img src="../../images/C.png"></img>
      <div>det(C) = -19 999 998 000 000</div>
      <div>matrix norm = 10000000000002</div>
      <div>inverse matrix norm = 5.000000999450345e+34</div>
      <div>conditional number = 5.000000999451345e+47</div>
      <strong>
        <div>matrix norm symm Gauss = 468881238764604.44</div>
        <div>inverse matrix norm symm Gauss = 4.688811918764853e-12</div>
        <div>conditional number symm Gauss = 1.0000001e+26</div>
      </strong>

      <google-chart
          type='area'
          options='{"title": "Cx = b residuals"}'
          data='{{C_res}}'>
      </google-chart>
    </div>

    <div class="card">
      Видно, что наилучший результат показан на матрице B: помимо того, что она изначально подходит под критерии, она хорошо обусловлена. Именно с такими матрицами (и даже лучше) мы будем иметь дело в дальнейшем, так что результат нас удовлетворяет.
      На третьей матрице алгоритм вообще сходиться не хочет.
    </div>

  </template>

  <script>

    Polymer({
      is: 'sle-test',

      properties: {
        A: {
          type: Object,
          value: {
            M: [[1, 2, 3], [2.0001, 3.999, 6], [15, 3, 6]],
            shape: [3, 3]
          }
        },

        A_res: {
          type: Array,
          value: [['iter', 'res_abs'], [0, 0]]
        },

        A_props: {
          type: Object,
          value: {
            norm: 0,
            inv_norm: 0,
            cond_num: 0,
          }
        },

        A_g_props: {
          type: Object,
          value: {
            norm: 0,
            inv_norm: 0,
            cond_num: 0,
          }
        },

        B: {
          type: Object,
          value: {
            M: [[1, 1/2, 1/3], [1/2, 1/3, 1/4], [1/3, 1/4, 1/5]],
            shape: [3, 3]
          }
        },

        B_res: {
          type: Array,
          value: [['iter', 'res_abs'], [0, 0]]
        },

        B_props: {
          type: Object,
          value: {
            norm: 0,
            inv_norm: 0,
            cond_num: 0,
          }
        },

        B_g_props: {
          type: Object,
          value: {
            norm: 0,
            inv_norm: 0,
            cond_num: 0,
          }
        },

        C: {
          type: Object,
          value: {
            M: [[Math.pow(10, 6), 2], [Math.pow(10, 13), 2]],
            shape: [2, 2]
          }
        },

        C_res: {
          type: Array,
          value: [['iter', 'res_abs'], [0, 0]]
        },

        C_props: {
          type: Object,
          value: {
            norm: 0,
            inv_norm: 0,
            cond_num: 0,
          }
        },

        C_g_props: {
          type: Object,
          value: {
            norm: 0,
            inv_norm: 0,
            cond_num: 0,
          }
        },
      },

      attached: function() {
        var ft2 = [1, 1];
        var ft3 = [1, 1, 1];
        var niter = 10;
        var self = this;

        var chgA = this.check_apply_gauss(this.A, ft3, self);
        var A_res = this.solve_system(chgA[0], chgA[1], niter);
        this.A_res = this.make_plot(A_res[1]);
        var A_inversed = this.matrix_inverse(this.A, niter, self);
        this.A_props.norm = this.matrix_norm_inf(this.A, false);
        this.A_props.inv_norm = this.matrix_norm_inf(A_inversed, true);
        this.A_props.cond_num = this.A_props.norm * this.A_props.inv_norm;

        var A_g_inversed = this.matrix_inverse(chgA[0], niter, self);
        this.A_g_props.norm = this.matrix_norm_inf(chgA[0], false);
        this.A_g_props.inv_norm = this.matrix_norm_inf(A_g_inversed, true);
        this.A_g_props.cond_num = this.A_g_props.norm * this.A_g_props.inv_norm;

        var chgB = this.check_apply_gauss(this.B, ft3, self);
        var B_res = this.solve_system(chgB[0], chgB[1], niter);
        this.B_res = this.make_plot(B_res[1]);
        var B_inversed = this.matrix_inverse(this.B, niter, self);
        this.B_props.norm = this.matrix_norm_inf(this.B, false);
        this.B_props.inv_norm = this.matrix_norm_inf(B_inversed, true);
        this.B_props.cond_num = this.B_props.norm * this.B_props.inv_norm;

        var B_g_inversed = this.matrix_inverse(chgB[0], niter, self);
        this.B_g_props.norm = this.matrix_norm_inf(chgB[0], false);
        this.B_g_props.inv_norm = this.matrix_norm_inf(B_g_inversed, true);
        this.B_g_props.cond_num = this.B_g_props.norm * this.B_g_props.inv_norm;

        var chgC = this.check_apply_gauss(this.C, ft2, self);
        var C_res = this.solve_system(chgC[0], chgC[1], niter);
        this.C_res = this.make_plot(C_res[1]);
        var C_inversed = this.matrix_inverse(this.C, niter, self);
        this.C_props.norm = this.matrix_norm_inf(this.C, false);
        this.C_props.inv_norm = this.matrix_norm_inf(C_inversed, true);
        this.C_props.cond_num = this.C_props.norm * this.C_props.inv_norm;

        var C_g_inversed = this.matrix_inverse(chgC[0], niter, self);
        this.C_g_props.norm = this.matrix_norm_inf(chgC[0], false);
        this.C_g_props.inv_norm = this.matrix_norm_inf(C_g_inversed, true);
        this.C_g_props.cond_num = this.C_g_props.norm * this.C_g_props.inv_norm;
      },

      make_plot: function(table) {
        plt = [['iter', 'res_abs'],];
        for (var i = 0; i != table.length; i++) {
          plt.push([i+1, table[i]])
        }
        return plt;
      },

      transposed: function(matr) {
        var matr_shape = matr.shape;
        var matr_transposed_shape = [matr.shape[1], matr.shape[0]];
        var matr_transposed = [];
        for (var j = 0; j != matr_shape[1]; j++) {
          var row = [];
          for (var i = 0; i != matr_shape[0]; i++) {
            row.push(matr.M[i][j]);
          }
          matr_transposed.push(row);
        }
        var matr_obj = {M: matr_transposed, shape: matr_transposed_shape}
        return matr_obj;
      },

      dot: function(a, b) {
        if (a.length !== b.length) {
          alert('check input dot');
          return;
        }
        acc = 0;
        for (var i = 0; i != a.length; i++) {
          acc = acc + a[i] * b[i];
        }
        return acc;
      },

      scalar_multiply(sc, u) {
        var temp = u;
        for (var i = 0; i != u.length; i++) {
          temp[i] = temp[i] * sc;
        }
        return temp;
      },

      multiply: function(matr, u) {
        if (matr.shape[1] != u.length) {
          alert('check input mult');
          return;
        } 
        var p = [];
        for (var row = 0; row != matr.shape[0]; row++) {
          temp = 0;
          for (var col = 0; col != matr.shape[1]; col++) {
            temp = temp + matr.M[row][col] * u[col];
          }
          p.push(temp);
        }
        return p;
      },

      extract: function(a, b) {
        if (a.length != b.length) {
          alert('check input');
          return;
        }
        var d = a;
        for (var i = 0; i != d.length; i++) {
          d[i] = d[i] - b[i];
        }
        return d;
      },

      check_apply_gauss: function(matr, b, self) {
        var matr_transposed = self.transposed(matr);
        var eq = true;
        if (matr.shape[0] != matr_transposed.shape[0] || matr.shape[1] != matr_transposed.shape[1]) {
          console.log('yo');
          return;
        }
        for (var i = 0; i != matr.shape[0]; i++) {
          for (var j = 0; j != matr.shape[1]; j++) {
            if (matr_transposed.M[i][j] != matr.M[i][j]) {
              eq = false;
              break;
            }
          }
        }
        if (eq) {
          // symmetrical
          // check sylvester for 1 x 1, 2 x 2 and 3 x 3
          var sylv = true;
          if (matr.shape[0] == 1) {
            sylv = matr.M[0] > 0;
          }
          if (matr.shape[0] > 1 && sylv) {
            sylv = (matr.M[0][0] * matr.M[1][1] - matr.M[0][1] * matr.M[1][0]) > 0;
          }
          if (matr.shape[0] > 2 && sylv) {
            var fp = matr.M[0][0] * (matr.M[1][1] * matr.M[2][2] - matr.M[1][2] * matr.M[2][1]);
            var sp = matr.M[0][1] * (matr.M[1][0] * matr.M[2][2] - matr.M[1][2] * matr.M[2][0]);
            var tp = matr.M[0][2] * (matr.M[1][0] * matr.M[2][1] - matr.M[1][1] * matr.M[2][0]);
            sylv = (fp - sp + tp) > 0;
          }
          if (sylv) {
            return [matr, b];
          } else {
            var b_new = self.multiply(matr_transposed, b);
            var symmetrized_matr = [];
            for (var i = 0; i != matr.shape[0]; i++) {
              var row = [];
              for (var j = 0; j != matr.shape[1]; j++) {
                row.push(self.dot(matr.M[i], matr.M[j]));
              }
              symmetrized_matr.push(row);
            }
            return [{M: symmetrized_matr, shape: matr.shape}, b_new]
          }
        } else {
          var b_new = self.multiply(matr_transposed, b);
          var symmetrized_matr = [];
          for (var i = 0; i != matr.shape[0]; i++) {
            var row = [];
            for (var j = 0; j != matr.shape[1]; j++) {
              row.push(self.dot(matr.M[i], matr.M[j]));
            }
            symmetrized_matr.push(row);
          }
          return [{M: symmetrized_matr, shape: matr.shape}, b_new]
        }
      },

      solve_system: function(matr, f, niter) {
        // initialize solution with empty column-vector
        var u = new Array(f.length).fill(0);
        var abs_res = new Array(niter).fill(0);

        for (var j = 0; j != niter; j++) {
          // count residual
          f_approx = this.multiply(matr, u);
          res = this.extract(f_approx, f);
          abs_res[j] = Math.sqrt(this.dot(res,res));

          // cout tau
          temp = this.multiply(matr, res)
          tau = this.dot(res, res) / this.dot(temp, res)

          // make a step towards the better life!
          step = this.scalar_multiply(tau, res);
          u = this.extract(u, step);
        }
        return [u, abs_res];
      },

      matrix_norm_inf: function(matr, transposed) {
        max_acc = 0;
        for (var i = 0; i != matr.shape[0]; i++) {
          col_acc = 0;
          for (var j= 0; j != matr.shape[1]; j++) {
            if (transposed) {
              col_acc = col_acc + Math.abs(matr.M[j][i]);
            } else {
              col_acc = col_acc + Math.abs(matr.M[i][j]);
            }
          }
          if (col_acc > max_acc) {
            max_acc = col_acc;
          }
        }
        return max_acc;
      },

      matrix_inverse: function(matr, niter, self) {
        if (matr.shape[0] != matr.shape[1]) {
          alert('not square matrix');
          return;
        }
        var matr_inv = [];
        for (var i = 0; i != matr.shape[1]; i++) {
          var ivec = new Array(matr.shape[1]).fill(0);
          ivec[i] = 1;
          var minv_col = self.solve_system(matr, ivec, niter);
          matr_inv.push(minv_col[0]);
        }
        return {M: matr_inv, shape: matr.shape};
      },
    });

  </script>

</dom-module>
