<!-- 
0 - Uniform
1 - Normal
2 - Line
3 - Parabola
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<script src="//cdn.jsdelivr.net/jstat/latest/jstat.min.js"></script>
<script src="../../static/js/numeric-1.2.6.js"></script>

<dom-module id="target-distribution">
  <template>
    <style>
    </style>

    <google-chart
      type='area'
      options='{"title": "Distribution"}'
      data='{{_data}}'>
    </google-chart>
  </template>

  <script>
    Polymer({

      is: 'target-distribution',

      properties: {
        dist: String,
        params: Object,
        bins: Number,
        _data: Array,
      },

      observers: [
        '_toArray(params.*, bins, dist)'
      ],

      _toArray: function() {
        var data = [['ω', 'ρ(ω)'],]
        var step = 1 / 100;

        if (this.dist == '0') {
          // Uniform
          for (var i = 0; i < 1; i = i + step) {
            data.push([i, 1])
          }
        }

        if (this.dist == '1') {
          // Normal
          for (var i = 0; i < 1; i = i + step) {
            data.push([i, jStat.normal.pdf(i, 0.5, 0.5 / 3)])
          }

        }
        if (this.dist == '2') {
          // Line
          var a = parseFloat(this.params.a)
          this.params.b = 1 - a / 2;
          var b = parseFloat(this.params.b)
          for (var i = 0; i < 1; i = i + step) {
            data.push([i, a * i + b])
          }
        }
        if (this.dist == '3') {
          // parabola
          var a = parseFloat(this.params.a)
          if (a == 0 || a > 1.2) {
            alert('Please choose a != 0 and a <= 1.2! Thanks!')
          } else {
            this.params.b = 2 / a - 2 / 3;
          }
          var b = parseFloat(this.params.b)
          for (var i = 0; i < 1; i = i + step) {
            data.push([i, a * i * (b - i)])
          }
        }
        this._data = data
      }
    });

  </script>

</dom-module>