<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/file-input/file-input.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<link rel="import" href="components/target-distribution.html">
<link rel="import" href="components/display-functions.html">

<script src="//cdn.jsdelivr.net/jstat/latest/jstat.min.js"></script>
<script src="../bower_components/file-saver/FileSaver.js"></script>

<dom-module id="my-view-main">
  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      .circle {
        display: inline-block;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background: #ddd;
        line-height: 64px;
        font-size: 30px;
        color: #555;
        text-align: center;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
      paper-input {
        width: 40px;
      }
      .blueButton {
        background-color: var(--paper-indigo-500);
        color: white;
      }
      .fileInput {
        width: 100%;
      }
    </style>

    <div hidden="{{_isSolving}}">
      <div class="card" id="T">
        <div class="circle">0</div>
        <h1>T – длительность размещения</h1>
        <span><paper-input value="{{T}}" type="number" required></paper-input></span>
      </div>
      <div class="card" id="dist">
        <div class="circle">1</div>
        <h1>ρ(ω) - распределение аудитории по вероятности попадание в таргет</h1>
        <paper-button class="blueButton">
          <file-input 
            id="distInput"
            extensions='["csv"]'>
            Load from CSV file
          </file-input>
        </paper-button>
        <div>
          <paper-button 
            hidden="{{!_dFromFile}}"
            on-tap="_dCancel">
            Cancel and continue with graphical interface
          </paper-button>
        </div>
        <div>
          <paper-button 
            on-tap="_dSave">
            Save to CSV
          </paper-button>
        </div>
        <div>
          <h3>Distribution</h3>
          <paper-menu selected="{{dist}}">
            <paper-item>Равномерное</paper-item>
            <paper-item>Нормальное</paper-item>
            <paper-item>ρ(ω)=A*ω+B</paper-item>
            <paper-item>ρ(ω)=A*ω*(B-ω)</paper-item>
          </paper-menu>
        </div>

        <div hidden="{{!_isParametric}}">
          <span>Параметры A и B</span>
          <span><paper-input label="A" value="{{dist_params.a}}" type="number" required></paper-input></span>
          <span>параметр B зависит от параметра А (по определению плотности распределения)</span>
        </div>

        <target-distribution
          dist="{{dist}}"
          bins="{{dist_bins}}"
          params="{{dist_params}}">
        </target-distribution>
      </div>
      <div class="card" id="s">
        <div class="circle">2</div>
        <h1>S(t) - план открута</h1>
        <div>Примечание: стоит выбирать такие функции, чтобы S'(t) <~ z'(t) на заданном промежутке.</div>
        <paper-button class="blueButton">
          <file-input 
            id="sInput"
            extensions='["csv"]'>
            Load from CSV file
          </file-input>
        </paper-button>
        <div>
          <paper-button 
            hidden="{{!_sFromFile}}"
            on-tap="_sCancel">
            Cancel and continue with graphical interface
          </paper-button>
        </div>
        <div>
          <paper-button 
            on-tap="_sSave">
            Save to CSV
          </paper-button>
        </div>
        <paper-menu selected="{{s_type}}">
            <paper-item>S(t)= A*t + B*sin(t)</paper-item>
            <paper-item>S(t)= A*t + B*sin(t) + C*cos(t)</paper-item>
        </paper-menu>
        <paper-input label="A" value="{{s_params.a}}" type="number" required></paper-input>
        <paper-input label="B" value="{{s_params.b}}" type="number" required></paper-input>
        <div hidden="{{!_isSComplex}}">
          <paper-input label="C" value="{{s_params.c}}" type="number" required></paper-input>
        </div>
      </div>
      <div class="card" id="beta">
        <div class="circle">3</div>
        <h1>β - подбираемый параметр</h1>
        <div>Режим</div>
        <paper-menu selected="{{mode}}">
            <paper-item>Ручной</paper-item>
            <paper-item>Автоматический</paper-item>
        </paper-menu>
        <div hidden="{{_isAutomatic}}">
          <!-- manual -->
          <div>Значение β</div>
          <paper-input label="β" value="{{beta_value}}" type="number" required></paper-input>
        </div>
        <div hidden="{{!_isAutomatic}}">
          <!-- automatic -->
          <div>Интервал значений для β</div>
          <paper-input label="β_left" value="{{beta_interval.left}}" type="number" required></paper-input>
          <paper-input label="β_right" value="{{beta_interval.right}}" type="number" required></paper-input>
        </div>
      </div>
      <div class="card" id="z">
        <div class="circle">4</div>
        <h1>z(t) - нарастающий общий трафик</h1>
        <div>Примечание: стоит выбирать такие функции, чтобы S'(t) <~ z'(t) на заданном промежутке.</div>
        <paper-button class="blueButton">
          <file-input 
            id="zInput"
            extensions='["csv"]'>
            Load from CSV file
          </file-input>
        </paper-button>
        <div>
          <paper-button 
            hidden="{{!_zFromFile}}"
            on-tap="_zCancel">
            Cancel and continue with graphical interface
          </paper-button>
        </div>
        <div>
          <paper-button 
            on-tap="_zSave">
            Save to CSV
          </paper-button>
        </div>
        <paper-menu selected="{{z_type}}">
            <paper-item>z(t)= A*t + B*sin(t)</paper-item>
            <paper-item>z(t)= A*t + B*sin(t) + C*cos(t)</paper-item>
        </paper-menu>
        <paper-input label="A" value="{{z_params.a}}" type="number" required></paper-input>
        <paper-input label="B" value="{{z_params.b}}" type="number" required></paper-input>
        <div hidden="{{!_isZComplex}}">
          <paper-input label="C" value="{{z_params.c}}" type="number" required></paper-input>
        </div>
      </div>
      <div class="card" id="f">
        <div class="circle">5</div>
        <h1>f(z(t), x(t), S(t), β) - функция коррекции параметра y</h1>
        <paper-menu selected="{{f_type}}">
            <paper-item>f(z(t), x(t), S(t), β) = β * (A*x(t) - B*z(t))</paper-item>
        </paper-menu>
        <paper-input label="A" value="{{f_params.a}}" type="number" required></paper-input>
        <paper-input label="B" value="{{f_params.b}}" type="number" required></paper-input>
      </div>
      <div class="card" id="init_vals">
        <div class="circle">6</div>
        <paper-input label="X0" value="{{x0}}" type="number" required></paper-input>
        <paper-input label="Y0" value="{{y0}}" type="number" required></paper-input>
      </div>
      <paper-button raised class="blueButton" on-tap="_solve">Продолжить</paper-button>
    </div>

    <div hidden="{{!_isSolving}}">
      <paper-button raised class="blueButton" on-tap="_return">Назад</paper-button>
      <div class="card">
        <h1>Chosen configuration</h1>
        <div>{{config}}</div>
      </div>

      <div class="card">
        <h1>Input functions graphs</h1>
        <display-functions
          dist="{{dist_tabulated}}"
          s="{{s_tabulated}}"
          z="{{z_tabulated}}"
          f="{{f_tabulated}}">
        </display-functions>
      </div>

<!--       <div class="card">
        <h1>U(y)</h1>
        <div>
          <paper-button 
            on-tap="_uSave">
            Save interpolation coefficients to CSV
          </paper-button>
        </div>
        <google-chart
          type='area'
          options='{"title": "U(y)"}'
          data='{{u_data}}'>
        </google-chart>
      </div> -->

      <div class="card">
        <h1>z'(t)</h1>
        <google-chart
          type='area'
          options='{"title": "dz/dt"}'
          data='{{z_diff}}'>
        </google-chart>
      </div>

      <div class="card">
        <h1>Best solution</h1>
        <google-chart
          type='area'
          options='{"title": "x(t)"}'
          data='{{x_data}}'>
        </google-chart>
        <google-chart
          type='area'
          options='{"title": "y(t)"}'
          data='{{y_data}}'>
        </google-chart>
        <paper-button 
          on-tap="_xSave">
          Save X
        </paper-button>
        <paper-button 
          on-tap="_ySave">
          Save Y
        </paper-button>
        <google-chart
          type='area'
          options='{"title": "c1(beta)"}'
          data='{{c1_data}}'>
        </google-chart>
        <google-chart
          type='area'
          options='{"title": "c2(beta)"}'
          data='{{c2_data}}'>
        </google-chart>
        <google-chart
          type='area'
          options='{"title": "F(beta)"}'
          data='{{f_opt_data}}'>
        </google-chart>
        <div>Final beta: <strong>{{final_beta}}</strong></div>
      </div>

    </div>

  </template>

  <script>
    Polymer({
      is: 'my-view-main',

      properties: {
        // time
        T: {
          type: Number,
          value: 1,
          observer: '_createNet'
        },

        tnet: {
          type: Array,
          value: [0,]
        },

        // step
        _isSolving: {
          type: Boolean,
          value: false
        },

        // distribution
        dist: {
          type: String,
          value: '0',
          observer: '_changeDistType'
        },
        dist_bins: {
          type: Number,
          value: 10
        },
        dist_params: {
          type: Object,
          value: {a: 0, b: 0}
        },
        _isParametric: Boolean,
        dist_tabulated: {
          type: Array,
          value: [['ω', 'ρ(ω)']]
        },
        _dFromFile: {
          type: Boolean,
          value: false
        },
        d_coeffs: Array,
        dnet: Array,

        // S(t)
        s_type: {
          type: String,
          value: '0',
          observer: '_changeS'
        },
        _isSComplex: Boolean,
        s_params: {
          type: Object,
          value: {a: 0, b: 0, c: 0}
        },
        s_tabulated: {
          type: Array,
          value: [['s', 's(t)']]
        },
        _sFromFile: {
          type: Boolean,
          value: false
        },
        s_coeffs: Array,
        snet: Array,

        // beta
        mode: {
          type: String,
          value: '0',
          observer: '_changeMode'
        },
        _isAutomatic: Boolean,
        beta_value: {
          type: Number,
          value: 0
        },
        beta_interval: {
          type: Object,
          value: {left: 0, right: 0}
        },

        // z(t)
        z_type: {
          type: String,
          value: '0',
          observer: '_changeZ'
        },
        _isZComplex: Boolean,
        z_params: {
          type: Object,
          value: {a: 0, b: 0, c: 0}
        },
        z_tabulated: {
          type: Array,
          value: [['t', 'z(t)']]
        },
        _zFromFile: {
          type: Boolean,
          value: false
        },
        z_coeffs: Array,
        zd_coeffs: Array,
        znet: Array,
        zdnet: Array,

        // f
        f_type: {
          type: String,
          value: '0'
        },
        f_params: {
          type: Object,
          value: {a: 0, b: 0}
        },
        f_tabulated: {
          type: Array,
          value: [['t', 'f(t)']]
        },

        // X0 and Y0
        x0: {
          type: Number,
          value: 0
        },
        y0: {
          type: Number,
          value: 0
        },

        u_data: {
          type: Array,
          value: [["y", "U(y)"]]
        },
        u_coeffs: Array,

        config: String,

        x_data: {
          type: Array,
          value: [["t", "x(t)"], [0, 1], [2, 3], [4, 5]]
        },
        y_data: {
          type: Array,
          value: [["t", "y(t)"], [0, 1], [2, 3], [4, 5]]
        },

        c1_data: {
          type: Array,
          value: [["beta", "c1"], [0, 0]]
        },
        c2_data: {
          type: Array,
          value: [["beta", "c2"], [0, 0]]
        },
        f_opt_data: {
          type: Array,
          value: [["beta", "F"], [0, 0]]
        },
        beta_final: {
          type: Number,
          value: 0
        }

      },

      attached: function() {
        var self = this;

        this.$.distInput.addEventListener('change', function(evt) {
          if (evt.detail.valid.length == 0) {
            alert('Invalid extension');
            return;
          }
          var file = evt.detail.valid[0];
          var reader = new FileReader();
          reader.onload = function(event) {
              var contents = event.target.result;
              self.dist_tabulated = self._fromCSV(contents);
              self._dFromFile = true;
          };
          reader.readAsText(file);
        }.bind(self));

        this.$.sInput.addEventListener('change', function(evt) {
          if (evt.detail.valid.length == 0) {
            alert('Invalid extension');
            return;
          }
          var file = evt.detail.valid[0];
          var reader = new FileReader();
          reader.onload = function(event) {
              var contents = event.target.result;
              self.s_tabulated = self._fromCSV(contents);
              self._sFromFile = true;
          };
          reader.readAsText(file);
        }.bind(self));

        this.$.zInput.addEventListener('change', function(evt) {
          if (evt.detail.valid.length == 0) {
            alert('Invalid extension');
            return;
          }
          var file = evt.detail.valid[0];
          var reader = new FileReader();
          reader.onload = function(event) {
              var contents = event.target.result;
              self.z_tabulated = self._fromCSV(contents);
              self._zFromFile = true;
          };
          reader.readAsText(file);
        }.bind(self));
      },

      _changeDistType: function() {
        if (this.dist == '0' || this.dist == '1') {
          this._isParametric = false;
        }
        if (this.dist == '2' || this.dist == '3') {
          this._isParametric = true;
        }
      },

      _changeMode: function() {
        if (this.mode == '0') {
          this._isAutomatic = false;
        }
        if (this.mode == '1') {
          this._isAutomatic = true;
        }
      },

      _changeS: function() {
        if (this.s_type == '0') {
          this._isSComplex = false;
        }
        if (this.s_type == '1') {
          this._isSComplex= true;
        }
      },

      _changeZ: function() {
        if (this.z_type == '0') {
          this._isZComplex = false;
        }
        if (this.z_type == '1') {
          this._isZComplex= true;
        }
      },

      _dCancel: function() { this._dFromFile = false; },
      _sCancel: function() { this._sFromFile = false; },
      _zCancel: function() { this._zFromFile = false; },

      _dSave: function() {
        var arr = this._tabulate(this, 'dist');
        this._save(arr, "dist.csv");
      },
      _sSave: function() {
        var arr = this._tabulate(this, 's');
        this._save(arr, "s.csv");
      },
      _zSave: function() {
        var arr = this._tabulate(this, 'z');
        this._save(arr, "z.csv");
      },
      _uSave: function() {
        this._save(this.u_coeffs, "u_coeffs.csv");
      },
      _xSave: function() {
        this._save(this.x_data, "x.csv");
      },
      _ySave: function() {
        this._save(this.y_data, "y.csv");
      },

      // functions below are used to tabulate input functions
      // and serve them to users in csv if needed

      _tabulate: function(self, type) {
        var tnet = self.tnet;
        var data = []
        if (type == 'dist') {
          var step = 0.01;
          data.push(['ω', 'ρ(ω)'])
          if (self.dist == '0') {
            // Uniform
            for (var i = 0; i < 1; i = i + step) {
              data.push([i, 1]);
            }
          }
          if (self.dist == '1') {
            // Normal
            for (var i = 0; i < 1; i = i + step) {
              data.push([i, jStat.normal.pdf(i, 0.5, 0.5 / 3)]);
            }
          }
          if (self.dist == '2') {
            // Line
            var a = parseFloat(self.dist_params.a);
            self.dist_params.b = 1 - a / 2;
            var b = parseFloat(self.dist_params.b);
            for (var i = 0; i < 1; i = i + step) {
              data.push([i, a * i + b]);
            }
          }
          if (self.dist == '3') {
            // parabola
            var a = parseFloat(self.dist_params.a)
            if (a == 0 || a > 1.2) {
              alert('Please choose a != 0 and a <= 1.2! Thanks!')
            } else {
              self.dist_params.b = 2 / a - 2 / 3;
            }
            var b = parseFloat(self.dist_params.b)
            for (var i = 0; i < 1; i = i + step) {
              data.push([i, a * i * (b - i)]);
            }
          }
        }

        if (type == 's') {
          data.push(['t', 's'])
          if (self.s_type == '0') {
            // S(t)= A*t + B*sin(t)
            for (var i = 0; i < tnet.length; i++) {
              data.push([tnet[i], self.s_params.a * tnet[i] + self.s_params.b * Math.sin(tnet[i])]);
            }
          }
          if (self.s_type == '1') {
            // S(t)= A*t + B*sin(t) + C*cos(t)
            for (var i = 0; i < tnet.length; i++) {
              data.push([tnet[i], self.s_params.a * tnet[i] + self.s_params.b * Math.sin(tnet[i]) + self.s_params.c * Math.cos(tnet[i])]);
            }
          }
        }

        if (type == 'z') {
          data.push(['t', 'z'])
          if (self.z_type == '0') {
            // z(t)= A*t + B*sin(t)
            for (var i = 0; i < tnet.length; i++) {
              data.push([tnet[i], self.z_params.a * tnet[i] + self.z_params.b * Math.sin(tnet[i])]);
            }
          }
          if (self.z_type == '1') {
            // z(t)= A*t + B*sin(t) + C*cos(t)
            for (var i = 0; i < tnet.length; i++) {
              data.push([tnet[i], self.z_params.a * tnet[i] + self.z_params.b * Math.sin(tnet[i]) + self.z_params.c * Math.cos(tnet[i])]);
            }
          }
        }

        return data;       
      },

      _toCSV: function(my_array) {
        var csv = my_array.map(function(d){
           return JSON.stringify(d);
        }).join('\n').replace(/(^\[)|(\]$)/mg, '');
        return csv;
      },

      _fromCSV: function(strData){
        strDelimiter = (",");
        var objPattern = new RegExp(
            (
                // Delimiters.
                "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
                // Quoted fields.
                "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
                // Standard fields.
                "([^\"\\" + strDelimiter + "\\r\\n]*))"
            ),
            "gi"
            );
        var arrData = [[]];
        var arrMatches = null;
        while (arrMatches = objPattern.exec( strData )){
            var strMatchedDelimiter = arrMatches[ 1 ];
            if (
                strMatchedDelimiter.length &&
                (strMatchedDelimiter != strDelimiter)
                ){
                arrData.push( [] );
            }
            if (arrMatches[ 2 ]){
                var strMatchedValue = arrMatches[ 2 ].replace(
                    new RegExp( "\"\"", "g" ),
                    "\""
                    );
            } else {
                var strMatchedValue = arrMatches[ 3 ];
            }
            arrData[ arrData.length - 1 ].push( strMatchedValue );
        }
        for (var j = 1; j < arrData.length; j++) {
          arrData[j][0] = parseFloat(arrData[j][0]);
          arrData[j][1] = parseFloat(arrData[j][1]);
        }
        return arrData;
      },

      _save: function(arr, save_as) {
        var blob = new Blob([this._toCSV(arr)], {type: "text/csv;charset=utf-8"});
        saveAs(blob, save_as);
      },

      _f: function(z, x, s, beta, self) {
        // f(z(t), x(t), S(t), β) = β * (A*x(t) - B*z(t))
        return parseFloat(beta) * (1 + parseFloat(self.f_params.a) * x - parseFloat(self.f_params.b) * z);
      },

      _createNet: function() {
        // this function creates a new net each time T parameter changes
        var n = 100;
        if (this.T <= 0) {
          alert('Invalid T');
          return;
        }
        var step = this.T / n;
        var tnet = [];
        for (var i = 0; i < this.T; i = i + step) {
          tnet.push(i);
        }
        this.tnet = tnet;
      },

      //
      // differention module
      //

      _differentiate: function(func_tab) {
        var arr = [["t", "z'(t)"]];
        var n = func_tab.length - 1;
        for (var i = 1; i < n; i++) {
          arr.push([func_tab[i][0], (func_tab[i+1][1] - func_tab[i][1]) / (func_tab[i+1][0] - func_tab[i][0])]);
        }
        arr.push([func_tab[n][0], (func_tab[n][1] - func_tab[n-1][1]) / (func_tab[n][0] - func_tab[n-1][0])]);
        return arr;
      },

      //
      // diff equations module
      //

      first_eq: function(t, x, y, self, beta) {
        // calculate value for z'(t)
        var zd_val = self.get_interpol_value(self.zdnet, self.zd_coeffs, t, self);
        // calculate value for an integral of the density
        var dens_tabulated = self._tabulate(self, 'dist');
        var dens_req = [['t', 'omega t'],];
        for (var i = 1; i != dens_tabulated.length; i++) {
          if (dens_tabulated[i][0] >= y) {
            dens_req.push(dens_tabulated[i]);
          }
        }
        if (dens_req.length % 2 != 1) {
          dens_req.push(dens_req[dens_req.length-1]);
        }
        var integral_val = self.integrate(dens_req);
        return zd_val * integral_val;
      },

      second_eq: function(t, x, y, self, beta) {
        var z_val = self.get_interpol_value(self.znet, self.z_coeffs, t, self);
        var s_val = self.get_interpol_value(self.snet, self.s_coeffs, t, self);
        return self._f(z_val, x, s_val, beta, self);
      },

      euler_method: function(tnet, init_vals, self, beta) {
        var x = new Array(tnet.length).fill(0);
        var y = new Array(tnet.length).fill(0);
        x[0] = init_vals[0];
        y[0] = init_vals[1];

        for (var i = 1; i != tnet.length; i++) {
          x[i] = x[i-1] + self.first_eq(tnet[i-1], x[i-1], y[i-1], self, beta)*(tnet[i] - tnet[i-1]);
          y[i] = y[i-1] + self.second_eq(tnet[i-1], x[i-1], y[i-1], self, beta)*(tnet[i] - tnet[i-1]);
        }
        return [x, y];
      },

      //
      // interpolation module
      //

      s: function(tau_n, m_n, m_n1, t_n, t_n1, a_coeff, b_coeff, t) {
        return (m_n * Math.pow(t_n1 - t, 3) + m_n1 * Math.pow(t - t_n, 3)) / (6 * tau_n) + a_coeff * t + b_coeff
      },

      get_interpol_value(fnet, coeffs, t, self) {
        var acoeffs = coeffs[0];
        var bcoeffs = coeffs[1];
        var m = coeffs[2];
        for (var i = 0; i != fnet.length - 1; i++) {
          if (t >= fnet[i] && t <= fnet[i+1]) {
            return self.s(fnet[i+1]-fnet[i], m[i], m[i+1], fnet[i], fnet[i+1], acoeffs[i], bcoeffs[i], t);
          }
        }
        return;
      },

      get_interpol_coeffs: function(fnet, f_tab) {
        var N = fnet.length - 1; 
        var acoeff = new Array(N).fill(0);
        var bcoeff = new Array(N).fill(0);
        var m = new Array(N + 1).fill(0); // derivatives of f, equal length to fnet

        // build tau table
        var tau_net = new Array(N).fill(0);
        for (var i = 0; i != N; i++) {
          tau_net[i] = fnet[i+1] - fnet[i];
        }

        // create the matrix A and vector F for calculating m coefficients
        var A = {
          M: [],
          shape: [N - 1, N - 1],
        };
        for (var j = 0; j != N - 1; j++) {
          var row = new Array(N - 1).fill(0);
          if (j - 1 >= 0) {
            row[j - 1] = tau_net[j] / 6;
          }
          row[j] = (tau_net[j] + tau_net[j + 1]) / 3;
          if ((j + 1) < (N - 1)) {
            row[j + 1] = tau_net[j + 1] / 6;
          }
          A.M.push(row);
        }

        var F = new Array(N - 1).fill(0);
        for (var k = 0; k != N - 1; k++) {
          // increment index of f_tab because of meta data in the first cell
          F[k] = (f_tab[k + 3][1] - f_tab[k + 2][1]) / tau_net[k + 1] + (f_tab[k + 2][1] - f_tab[k + 1][1]) / tau_net[k];
        }

        // find m from 1 to N-1 by solving a linear equasion
        var niter = 30;

        var u = this.solve_system(A, F, niter);

        // add resulting values to the target m array, where m_0 = m_N = 0
        for (var i = 0; i != u[0].length; i++) {
          m[i + 1] = u[0][i];
        }

        // count alpha and beta values
        for (var j = 0; j != N; j++) {
          // increment index of f_tab because of meta data in the first cell
          acoeff[j] = (f_tab[j + 2][1] - f_tab[j + 1][1]) / tau_net[j] - (m[j + 1] - m[j]) * tau_net[j] / 6;
          bcoeff[j] = f_tab[j + 1][1] - m[j] * tau_net[j] * tau_net[j] / 6 - acoeff[j] * fnet[j];
        }

        return [acoeff, bcoeff, m];
      },

      //
      // integration module
      //

      integrate: function(tf) {
        var func_area = 0;
        for (var i = 1; i < tf.length - 2; i = i + 2) {
          var sub_area = (tf[i+2][0] - tf[i][0]) / 6 * (tf[i][1] + 4 * tf[i+1][1] + tf[i+2][1]);
          func_area += sub_area;
        }
        return func_area;
      },

      //
      // sle module
      //

      dot: function(a, b) {
        if (a.length !== b.length) {
          alert('check input dot');
          return;
        }
        acc = 0;
        for (var i = 0; i != a.length; i++) {
          acc = acc + a[i] * b[i];
        }
        return acc;
      },

      scalar_multiply(sc, u) {
        var temp = u;
        for (var i = 0; i != u.length; i++) {
          temp[i] = temp[i] * sc;
        }
        return temp;
      },

      multiply: function(matr, u) {
        if (matr.shape[1] != u.length) {
          alert('check input mult');
          return;
        } 
        var p = [];
        for (var row = 0; row != matr.shape[0]; row++) {
          temp = 0;
          for (var col = 0; col != matr.shape[1]; col++) {
            temp = temp + matr.M[row][col] * u[col];
          }
          p.push(temp);
        }
        return p;
      },

      extract: function(a, b) {
        if (a.length != b.length) {
          alert('check input');
          return;
        }
        var d = a;
        for (var i = 0; i != d.length; i++) {
          d[i] = d[i] - b[i];
        }
        return d;
      },

      solve_system: function(matr, f, niter) {
        // initialize solution with empty column-vector

        var u = new Array(f.length).fill(0);
        var abs_res = new Array(niter).fill(0);

        for (var j = 0; j != niter; j++) {
          // count residual
          f_approx = this.multiply(matr, u);
          res = this.extract(f_approx, f);
          abs_res[j] = Math.sqrt(this.dot(res,res));

          // count tau
          temp = this.multiply(matr, res)
          tau = this.dot(res, res) / this.dot(temp, res)

          // make a step towards the better life!
          step = this.scalar_multiply(tau, res);
          u = this.extract(u, step);
        }
        return [u, abs_res];
      },

      //
      // metrics and tabulation
      //

      _tabulate_results: function(xname, yname, ftab, fnet) {
        var res_tab = [];
        res_tab.push([xname, yname]);
        for (var i = 0; i != fnet.length; i++) {
          res_tab.push([fnet[i], ftab[i]]);
        }
        return res_tab;
      },

      _c1: function(tnet, x_tab, y_vals, x_0, dist_tab, self) {
        // differentiate x
        var x_diff = self._differentiate(x_tab);
        var temp_arr = [['f', 't'],];
        // tabulate from 0 to T
        for (var i = 0; i != tnet.length; i++) {
          // tabulate from y to 1
          var temp_omega_arr = [['f', 'om'],];
          for (var j = 1; j != dist_tab.length; j++) {
            if (dist_tab[j][0] >= y_vals[i]) {
              temp_omega_arr.push([dist_tab[j][0], dist_tab[j][0] * dist_tab[j][1]]);
            }
          }
          var temp_int = self.integrate(temp_omega_arr);
          temp_arr.push([tnet[i], x_diff[i+1][1] * temp_int]);
        }
        var integr = self.integrate(temp_arr);
        return 1 - integr / (x_tab[x_tab.length - 1][1] - x_0);
      },

      _c2: function(x, fnet, coeffs, t, self) {
        var s_t = self.get_interpol_value(fnet, coeffs, t, self);
        if (s_t == 0) {
          return -1;
        }
        return Math.abs(x[x.length - 1] - s_t) / s_t;
      },

      //
      // main function
      //

      _solve: function() {
        // validate input
        var my_inputs = [this.T, this.dist_params.a, this.dist_params.b, this.s_params.a, this.s_params.b, this.s_params.c, this.beta_value, this.beta_interval.left, this.beta_interval.right, this.z_params.a, this.z_params.b, this.z_params.c, this.f_params.a, this.f_params.b, this.x0, this.y0];
        for (var i = 0; i < my_inputs.length; i++) {
          if (my_inputs[i] === '') {
            alert('Don\'t leave empty fields');
            return;
          }
        }
        if (this.beta_interval.left > this.beta_interval.right) {
          alert('Invalid beta interval');
          return;
        }

        // tabulate values and form config message config
        var msg = ""
        if (!this._dFromFile) {
          this.dist_tabulated = this._tabulate(this, 'dist');
          msg = msg + "Distribution: from GUI; ";
        } else {
          msg = msg + "Distribution: from file; ";
        }
        if (!this._sFromFile) {
          this.s_tabulated = this._tabulate(this, 's');
          msg = msg + "s(t): from GUI; ";
        } else {
          msg = msg + "s(t): from file; ";
        }
        if (!this._zFromFile) {
          this.z_tabulated = this._tabulate(this, 'z');
          msg = msg + "s(t): from GUI; ";
        } else {
          msg = msg + "z(t): from file; ";
        }
        msg = msg + "x0: " + this.x0 +  "; ";
        msg = msg + "y0: " + this.y0 +  "; ";
        if (this._isAutomatic) {
          msg = msg + "β in [" + this.beta_interval.left + ", " + this.beta_interval.right +  "]; ";
        } else {
          msg = msg + "β: " + this.beta_value +  "; ";
        }
        this.config = msg;

        // build a net of distribution and get interpolation coefficients
        var dnet = new Array(this.dist_tabulated.length - 1).fill(0)
        for (var i = 1; i != this.dist_tabulated.length; i++) {
          dnet[i - 1] = this.dist_tabulated[i][0];
        }
        this.dnet = dnet;
        this.d_coeffs = this.get_interpol_coeffs(dnet, this.dist_tabulated);

        // build a net of S function and get interpolation coefficients
        var snet = new Array(this.s_tabulated.length - 1).fill(0)
        for (var i = 1; i != this.s_tabulated.length; i++) {
          snet[i - 1] = this.s_tabulated[i][0];
        }
        this.snet = snet;
        this.s_coeffs = this.get_interpol_coeffs(snet, this.s_tabulated);

        // build a net of Z function and get interpolation coefficients
        var znet = new Array(this.z_tabulated.length - 1).fill(0)
        for (var i = 1; i != this.z_tabulated.length; i++) {
          znet[i - 1] = this.z_tabulated[i][0];
        }
        this.znet = znet;
        this.z_coeffs = this.get_interpol_coeffs(znet, this.z_tabulated);

        // differentiate Z function, build its net and get interpolation coefficients
        this.z_diff = this._differentiate(this.z_tabulated);
        var zdnet = new Array(this.z_diff.length - 1).fill(0)
        for (var i = 1; i != this.z_diff.length; i++) {
          zdnet[i - 1] = this.z_diff[i][0];
        }
        this.zdnet = zdnet;
        this.zd_coeffs = this.get_interpol_coeffs(zdnet, this.z_diff);

        var init_vals = [parseFloat(this.x0), parseFloat(this.y0)];

        //
        // solve Cauchy system of equations
        // 

        var results = [];

        if (this._isAutomatic) {
          // beta steps
          var betas = [];
          var beta_step = (parseFloat(this.beta_interval.right) - parseFloat(this.beta_interval.left)) / 15;
          for (var i = parseFloat(this.beta_interval.left); i < parseFloat(this.beta_interval.right); i = i + beta_step) {
            betas.push(i);
          }
          var f_opt = 200;
          var c1d = [["beta", "c1"]];
          var c2d = [["beta", "c2"]];
          var fd = [["beta", "F"]]
          // solve several times with different betas
          for (var j = 0; j < betas.length; j++) {
            var temp_results = this.euler_method(this.tnet, init_vals, this, betas[j]);
            var self = this;
            var temp_tabul_x = this._tabulate_results('t', 'x', temp_results[0], this.tnet);
            var c1 = this._c1(this.tnet, temp_tabul_x, temp_results[1], this.x0, this.dist_tabulated, self);
            var c2 = this._c2(temp_results[1], this.tnet, this.s_coeffs, this.tnet[this.tnet.length-1], self);
            var f = c1 + 10 * c2;

            c1d.push([parseFloat(betas[j]), c1]);
            c2d.push([parseFloat(betas[j]), c2]);
            fd.push([parseFloat(betas[j]), f]);
            if (f < f_opt) {
              results = temp_results;
              f_opt = f;
              this.final_beta = betas[j];
            }
          }
        } else {
          //solve once with fixed beta
          results = this.euler_method(this.tnet, init_vals, this, this.beta_value);
        }

        this.c1_data = c1d;
        this.c2_data = c2d;
        this.f_opt_data = fd;

        this.x_data = this._tabulate_results('t', 'x', results[0], this.tnet);
        this.y_data = this._tabulate_results('t', 'y', results[1], this.tnet);

        this._isSolving = true;
      },

      _return: function() {
        this._isSolving = false;
      }
    });
  </script>
</dom-module>
