<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="components/integration-test.html">
<link rel="import" href="components/sle-test.html">
<link rel="import" href="components/interpolation-test.html">
<link rel="import" href="components/diff-test.html">
<link rel="import" href="components/project-summary.html">

<dom-module id="my-view-description">

  <template>

    <style>
    </style>

    <paper-tabs id="menu" selected="0">
      <paper-tab>Интегрирование</paper-tab>
      <paper-tab>СЛАУ</paper-tab>
      <paper-tab>Интерполяция</paper-tab>
      <paper-tab>Дифф.уравнения</paper-tab>
      <paper-tab>Итог</paper-tab>
    </paper-tabs>

    <div hidden="{{intergation_hidden}}">
      <integration-test></integration-test>
    </div>

    <div hidden="{{sle_hidden}}">
      <sle-test></sle-test>
    </div>

    <div hidden="{{interpolation_hidden}}">
      <interpolation-test></interpolation-test>
    </div>

    <div hidden="{{diff_hidden}}">
      <diff-test></diff-test>
    </div>

    <div hidden="{{summary_hidden}}">
      <project-summary></project-summary>
    </div>

  </template>

  <script>

    Polymer({
      is: 'my-view-description',
      properties: {
        intergation_hidden: {
          type: Boolean,
          value: false,
        },
        sle_hidden: {
          type: Boolean,
          value: true,
        },
        interpolation_hidden: {
          type: Boolean,
          value: true,
        },
        diff_hidden: {
          type: Boolean,
          value: true,
        },
        summary_hidden: {
          type: Boolean,
          value: true,
        }
      },
      listeners: {
        'iron-select': '_tab_selected'
      },

      _tab_selected: function() {
        var tab = this.$.menu.selectedItem
        var ind = this.$.menu.indexOf(tab)

        if (ind == 0) {
          // integration
          this.intergation_hidden = false;
          this.sle_hidden = true;
          this.interpolation_hidden = true;
          this.diff_hidden = true;
          this.summary_hidden = true;
        }

        if (ind == 1) {
          // sle
          this.intergation_hidden = true;
          this.sle_hidden = false;
          this.interpolation_hidden = true;
          this.diff_hidden = true;
          this.summary_hidden = true;
        }

        if (ind == 2) {
          // interpolation
          this.intergation_hidden = true;
          this.sle_hidden = true;
          this.interpolation_hidden = false;
          this.diff_hidden = true;
          this.summary_hidden = true;
        }

        if (ind == 3) {
          // differential equations
          this.intergation_hidden = true;
          this.sle_hidden = true;
          this.interpolation_hidden = true;
          this.diff_hidden = false;
          this.summary_hidden = true;
        }

        if (ind == 4) {
          // summary
          this.intergation_hidden = true;
          this.sle_hidden = true;
          this.interpolation_hidden = true;
          this.diff_hidden = true;
          this.summary_hidden = false;
        }

      }
    });

  </script>

</dom-module>
